* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    word-spacing: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 42px;
}

.header-div {
    text-align: right;
    margin-right: 45px;
    margin-top: 10px;
}

.link-header {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.835px;
    cursor: pointer;
    transition: 0.5s;
}

.link-header:hover {
    background: lightgreen;
    border-radius: 6px;
    padding: 13px;
}

.button-header {
    background: rgb(12, 182, 12);
    border: none;
    border-radius: 6px;
    width: 170px;
    height: 48px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    transition: 0.5s;
}

.button-header:hover {
    background: rgb(12, 182, 12);
    border: none;
    border-radius: 6px;
    width: 185px;
    height: 63px;
    cursor: pointer;
}

.header-image {
    margin-left: 42px;
    margin-top: 25px;
    height: 50px;
}

main {
    background: rgb(241, 247, 253);
    margin: 30px 42px;
    padding: 30px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: 0.5s;
}

main:hover {
    background: rgb(241, 247, 253);
    margin: 30px 42px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgb(12, 182, 12);
}

.main-div {
    display: inline-block;
    text-align: left;
    padding: 20px;
}

h1 {
    font-size: 75px;
}

h2 {
    color: rgb(12, 182, 12);
    font-size: 75px;
}

p {
    color: rgb(95, 95, 95);
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 32px;
}

.button-main {
    background: rgb(12, 182, 12);
    border: none;
    border-radius: 6px;
    width: 125px;
    height: 53px;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    transition: 0.5s;
}

.button-main:hover {
    background: rgb(12, 182, 12);
    border: none;
    border-radius: 6px;
    width: 145px;
    height: 63px;
    cursor: pointer;
}

.main-image {
    height: 500px;
    width: 540px;
    margin-right: 50px;
}

footer {
    margin: 30px 42px;
    text-align: center;
}

h3 {
    font-size: 45px;
}

.footer-image {
    height: 70px;
}

h4 {
    font-size: 38px;
    margin-top: 40px;
}

.p-h4 {
    font-size: 20px;
}

